<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </h:head>
    <h:body>
        <h1>Login</h1>
        <h:form>
            Username: <h:inputText value="#{loginUserBean.username}"/><br/>
            Password: <h:inputText value="#{loginUserBean.password}"/><br/>
            <h:commandButton value="Login" action="#{loginUserBean.doLogin}"/><br/>
            <br/>
            <h:dataTable value="#{loginUserBean.lstMessages}" var = "trait">
                <h:column>    				
                    <f:facet name = "header">Name</f:facet>    				
                        #{trait.name}
                </h:column>
                <h:column>    				
                    <f:facet name = "header">Time</f:facet>    				
                        #{trait.time}
                </h:column>
                <h:column>    				
                    <f:facet name = "header">Message</f:facet>    				
                        #{trait.message}
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>
