<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </h:head>
    <h:body>
        <h1>Logged in!</h1>
        <h:form>
            SessionId: <h:outputLabel  value="#{loginUserBean.session}!"/><br/>
            Hello there, <h:outputLabel  value="#{loginUserBean.username}!"/><br/>
            <h:commandButton value="Logout" action="#{loginUserBean.doLogout}"/><br/>
        </h:form>
        <h:form>
            Message <h:inputText value="#{loginUserBean.message}"/><br/>
            <h:commandButton value="Send" action="#{loginUserBean.eintragen}"/><br/>
        </h:form>
    </h:body>
</html>
